// Google Font (Manrope)
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

html {
    /*62.5% is 10 px*/
    //this defines what 1rem is
    // font-size: 62.5% !important; 
}

body {
    box-sizing: border-box;
}

#root {
    
    /* 
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    } 
    */

    font-family: $font-primary;

.inputPassword {
    position: relative;
    display: flex;
}

.iconEye1 {
    position: absolute;
    top: 50%;
    right: 3%;
}
.iconEye2 {
    position: absolute;
    top: 50%;
    right: 3%;
}
.iconEye3 {
    position: absolute;
    top: 41%;
    right: 3%;
}
.iconEye4 {
    position: absolute;
    top: 69%;
    right: 3%;
}
.iconEye:hover {
    cursor: pointer;
}

.height70 {
    height: 70vh;
}

.height80 {
    height: 80vh;
}

.height100 {
    height: 100vh;
}

.height180 {
    height: 180vh;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexJustifyContent {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.timePicker {
    width: 0;
    cursor: pointer;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    height: 60px;
    
}
.padding15rem {
    padding-left: 15rem;
    padding-right: 15rem;
}
}


