#root {
//     *,
// *::after,
// *::before {
//     margin: 0;
//     padding: 0;
//     box-sizing: inherit;
// }

html {
    /*62.5% is 10 px*/
    //this defines what 1rem is
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;
}

.inputPassword {
    position: relative;
    display: flex;
}

.iconEye1 {
    position: absolute;
    top: 39%;
    right: 3%;
}
.iconEye2 {
    position: absolute;
    top: 66%;
    right: 3%;
}
.iconEye:hover {
    cursor: pointer;
}

.height70 {
    height: 70vh;
}

.height80 {
    height: 80vh;
}

.height100 {
    height: 100vh;
}

.height180 {
    height: 180vh;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.timePicker {
    width: 0;
    cursor: pointer;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    height: 60px;
    
}
}


