#root {
    .itemDefault {
        background-color: $grey-light-2;   
    }
    .itemPicker {
        background-color: $color-volunteer-primary;   
    }
    .red {
        color: $red;
    }
    .smallText {
        font-size: 0.80rem;
    }
    .cardHeadingText {
        font-size: 1.2rem;
    }
    .headingText {
        color: $color-heading-volunteer;
   }
   .caption {
       /* Desktop/Body/SM/Regular 14px */
        font-family: $font-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;

        /* Text/Gray 40 */
        color: $color-gray-40;
   }

   .home-hero {
        &-title {
            /* Desktop/Headings/H2/Bold 32px */
            font-family: $font-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 40px;
            /* identical to box height, or 125% */

            /* Text/White */
            color: #FFFFFF;
        }

        &-text {
        /* Desktop/Body/XL/Regular 20px */
        font-family: $font-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        /* identical to box height, or 160% */
        /* Text/White */

        color: #FFFFFF;

        opacity: 0.9;
        }
   }

   
   .home-section-title {
       margin-bottom: 30px;
        /* Desktop/Headings/H3/Bold 26px */

        font-family: $font-primary;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
   }

   .session {
        &-name {
            /* All Caps/Regular 16px */
            font-family: $font-primary;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            /* identical to box height, or 150% */

            text-align: center;
            letter-spacing: 0.07em;
            text-transform: uppercase;

            /* Text/White */

            color: #FFFFFF;

            opacity: 0.8;
        }

        &-title {
            /* Desktop/Headings/H2/Bold 32px */
            margin: auto;
            max-width: 640px;
            font-family: $font-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 40px;
            color: $color-gray-80;
            /* or 125% */

            text-align: center;

            &-light {
                /* Text/White */
                color: #FFFFFF;
            }

            &-dark {
                &-volunteer { color: $color-heading-volunteer; }
                &-ngo { color: $color-heading-ngo; }
            }
        }
    }
    
    .form {
        &-step {
        /* All Caps/Regular 16px */
        font-family: $font-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.07em;
        text-transform: uppercase;

        /* Text/Gray 40 */
        color: $color-gray-40;
        }

        &-title {
        /* Desktop/Headings/H2/Bold 32px */
        font-family: $font-primary;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
        }

        &-subtitle {
        /* Desktop/Body/MD/Regular 16px */
        font-family: $font-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;

        /* Text/Gray 60 */
        color: $color-gray-60;
        }

        &-subsection-title {
            /* Desktop/Headings/H4/Regular 20px */

            font-family: $font-primary;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            /* identical to box height, or 140% */

            /* Text/Gray 40 */

            color: $color-gray-40;
        }
    }

    .card {
        &-title {
            /* Desktop/Headings/H6/Bold 16px */
            font-family: $font-primary;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 1.4;

            /* Text/Gray 80 */
            color: $color-gray-80;
        }

        &-organization {
            /* Desktop/Body/SM/Regular 14px */
            margin-top: 4px;
            font-family: $font-primary;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            /* identical to box height, or 143% */
        }

        &-info {
            /* Desktop/Body/SM/Regular 14px */

            font-family: $font-primary;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            /* identical to box height, or 143% */


            /* Text/Gray 60 */

            color:$color-gray-60;
        }
    }
}
