#root {
    .itemDefault {
        background-color: $grey-light-2;   
    }
    .itemPicker {
        background-color: $color-volunteer-primary;   
    }
    .red {
        color: $red;
    }
    .smallText {
        font-size: 0.80rem;
    }
    .cardHeadingText {
        font-size: 1.2rem;
    }
    .headingText {
        color: $color-heading-volunteer
   }
}
