#root {
    .backgroundDark {
        background-color: $color-dark;
    }
    .backgroundWhite {
        background-color: white;
    }
    .textWhite {
        color:white
    }
    .textPrimary {
        color: $color-volunteer-primary;
    }
    .flexSpaceEvenly {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .flexCenter {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items:center
    }
    .NGOBackgroundDark{
        background-color: $color-ngo-background-dark;
    }
    .NGOtextDark {
        color: $color-ngo-background-dark;
    }
    .VolunteerSecondaryColor{
        color: $color-volunteer-secondary;
    }
    .backgroundLightGrey {
        background-color: $color-light-grey;
    }
    .mobileHide {
        @media (max-width: 480px) {
        display:none;
        }
        }
    
}