#root {
    .backgroundDark {
        background-color: $color-dark;
    }
    .textWhite {
        color:white
    }
    .flexSpaceEvenly {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .flexCenter {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items:center
    }
    
}