//colors
$color-primary: #2684FF;
$grey-light-2: #AAB6C5;
$red: red;
$color-dark: #090088;
$color-volunteer-primary: #F94877;
$color-heading-background: linear-gradient(274deg, rgba(9,0,136,1) -30.65%, rgba(249,72,119,1) 117.82%);