//colors
$color-primary: #2684FF;
$grey-light-2: #AAB6C5;
$red: red;
$color-dark: #090088;
$color-volunteer-primary: #F94877;
$color-heading-background: linear-gradient(274deg, rgba(9,0,136,1) -30.65%, rgba(249,72,119,1) 117.82%);
$color-gray-20: #cccccc;
$color-ngo-secondary: #2BCDC1;
$color-gray-60: #666666;
$color-light-grey: #F7F8F9;
$color-ngo-background-dark: #364F6B;
$color-volunteer-secondary:#6F30FE;