#root html {
  /*62.5% is 10 px*/
  font-size: 62.5%; }

#root body {
  box-sizing: border-box; }

#root .inputPassword {
  position: relative;
  display: flex; }

#root .iconEye1 {
  position: absolute;
  top: 39%;
  right: 3%; }

#root .iconEye2 {
  position: absolute;
  top: 66%;
  right: 3%; }

#root .iconEye:hover {
  cursor: pointer; }

#root .height70 {
  height: 70vh; }

#root .height80 {
  height: 80vh; }

#root .height100 {
  height: 100vh; }

#root .height180 {
  height: 180vh; }

#root .flexColumn {
  display: flex;
  flex-direction: column; }

#root .timePicker {
  width: 0;
  cursor: pointer;
  line-height: 1.21428571em;
  padding: .67857143em 1em;
  font-size: 1em;
  height: 60px; }

#root .itemDefault {
  background-color: #AAB6C5; }

#root .itemPicker {
  background-color: #F94877; }

#root .red {
  color: red; }

#root .smallText {
  font-size: 0.80rem; }

#root .cardHeadingText {
  font-size: 1.2rem; }

#root .backgroundDark {
  background-color: #090088; }

#root .backgroundWhite {
  background-color: white; }

#root .textWhite {
  color: white; }

#root .textPrimary {
  color: #F94877; }

#root .flexSpaceEvenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

#root .flexCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#root .headingText {
  color: #090088; }

#root .heroHome {
  background: linear-gradient(274deg, #090088 -30.65%, #f94877 117.82%); }

#root .imageCard {
  position: relative;
  display: flex; }

#root .imageSelect {
  border-style: solid;
  border-color: #F94877;
  border-radius: 0.5rem; }

#root .textCard {
  position: absolute;
  bottom: 35px;
  left: 12px; }

#root .iconSelect {
  position: absolute;
  top: 2%;
  right: 1%; }

#root .pinkChecker {
  color: #F94877; }

#root .whiteChecker {
  color: white;
  opacity: 0.6; }

#root .iconSelect:hover {
  cursor: pointer; }

#root .borderRed {
  border-style: solid;
  border-color: red; }

#root .backroundProject {
  background-color: #F8F8F8; }

#root .overlayImage {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.8;
  filter: brightness(30%); }

#root .projectCard:hover {
  transform: translateY(-0.5rem) scale(1.01); }

#root .timePicker .react-time-picker {
  display: inline-flex;
  position: relative; }

#root .timePicker .react-time-picker,
#root .timePicker .react-time-picker *,
#root .timePicker .react-time-picker *:before,
#root .timePicker .react-time-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#root .timePicker .react-time-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d; }

#root .timePicker .react-time-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: thin solid red; }

#root .timePicker .react-time-picker__inputGroup {
  min-width: calc((4px * 3) +  0.54em * 6  +  0.217em * 2);
  flex-grow: 1;
  padding: 0 2px;
  box-sizing: content-box; }

#root .timePicker .react-time-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre; }

#root .timePicker .react-time-picker__inputGroup__input {
  min-width: 0.54em;
  height: 100%;
  position: relative;
  padding: 0 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield; }

#root .timePicker .react-time-picker__inputGroup__input::-webkit-outer-spin-button,
#root .timePicker .react-time-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#root .timePicker .react-time-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1); }

#root .timePicker .react-time-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px +  0.54em); }

#root .timePicker .react-time-picker__inputGroup__amPm {
  font: inherit;
  -moz-appearance: menulist; }

#root .timePicker .react-time-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px; }

#root .timePicker .react-time-picker__button:enabled {
  cursor: pointer; }

#root .timePicker .react-time-picker__button:enabled:hover .react-time-picker__button__icon,
#root .timePicker .react-time-picker__button:enabled:focus .react-time-picker__button__icon {
  stroke: #0078d7; }

#root .timePicker .react-time-picker__button:disabled .react-time-picker__button__icon {
  stroke: #6d6d6d; }

#root .timePicker .react-time-picker__button svg {
  display: inherit; }

#root .timePicker .react-time-picker__clock {
  width: 200px;
  height: 200px;
  max-width: 100vw;
  padding: 25px;
  background-color: white;
  border: thin solid #a0a096;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1; }

#root .timePicker .react-time-picker__clock--closed {
  display: none; }
