#root html {
  /*62.5% is 10 px*/
  font-size: 62.5%; }

#root body {
  box-sizing: border-box;
  height: 100vh; }

#root i {
  position: absolute;
  top: 41%;
  right: 2%; }

#root i:hover {
  cursor: pointer; }

#root .itemDefault {
  background-color: #AAB6C5; }

#root .itemPicker {
  background-color: #2684FF; }

#root .red {
  color: red; }

#root .backgroundDark {
  background-color: #090088; }

#root .textWhite {
  color: white; }

#root .flexSpaceEvenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

#root .flexCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

#root .headingText {
  color: #090088; }
