#root {
  .btn-group {
    margin: 40px 0 20px 0;
  }

  .navBtn {
    font-family: $font-primary;
    /* Mobile/Interactions/Button 16px */
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: white;
    /* identical to box height, or 150% */

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 34px;
    box-shadow: none;

    &-collapsed {
      margin: auto;
    }

    &-volunteer {
      color: $color-volunteer-primary !important;
      border-color: $color-volunteer-primary !important;
    }

    &-ngo {
      color: $color-ngo-primary !important;
      border-color: $color-ngo-primary !important;
    }
  }

  .btn {
    font-family: $font-primary;
    /* Mobile/Interactions/Button 16px */
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: white;
    /* identical to box height, or 150% */

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    border-radius: 12px;
    padding: 12px 40px;
  }

  .btn-longtext {
    font-size: 15px;
  }

  .btn-error {
    background-color: #C30052;
  }

  .btn-primary {
    &-volunteer { background: $color-volunteer-primary !important; }
    &-ngo { background: $color-ngo-primary !important; }
  }

  .btn-secondary {
    background: white;
    // border-width: 1px;
    // border-style: solid;

    &-volunteer { 
      color: $color-volunteer-primary !important;
      // border-color: $color-volunteer-primary;
    }
    &-ngo { 
      color: $color-ngo-primary !important;
      // border-color: $color-ngo-primary;
    }
  }
}