#root {
    .imageCard {
        position: relative;
        display: flex;
    }
    .imageSelect{
        border-style: solid;
        border-color: $color-volunteer-primary;
        border-radius: 0.5rem;
    }
    .textCard {
        position:absolute;
        bottom: 35px;
        left: 12px;
    }
    .iconSelect {
        position:absolute;
        top: 2%;
        right: 1%;
    }
    .pinkChecker{
        color: $color-volunteer-primary;
    }
    .whiteChecker {
        color: $color-gray-20;
    }
    .iconSelect:hover {
        cursor: pointer;
    }
    .borderRed {
        border-style: solid;
        border-color:red;
    }
    .backroundProject {
        background-color: #F8F8F8;
    }
    .overlayImage {
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
        opacity: 0.8;
        // filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
        filter: brightness(30%);
    }
    .projectCard:hover {
        transform: translateY(-0.5rem) scale(1.01);
    }
    .textCardNGO {
        position:relative;
        bottom: -2rem;
        left: 0.2rem;
    }
    .heightCard{
        height: 7.5rem;
        display:flex;
        flex-direction: column;
    }
    .heightCard:hover {
        cursor: pointer;
    }
    .iconSkills{
        fill: $color-gray-20;
    }
    .ngoSecondaryColorPicker {
        color: $color-ngo-secondary;
    }
    .ngoSecondaryBorder {
        border-style: solid;
        border-color: $color-ngo-secondary;
        border-radius: 12px;
        border-width: 3px;
    }
    .grey60 {
        color:$color-gray-60;
    }
}
